body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f0f0f0;
}


h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px 20px;
  width: 300px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 12px 20px;
  background-color: #542a81;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.container {
  text-align: center;
  margin-top: 300px; /* Add margin to adjust the space between the input field and the info-panel */
}

.info-panel {
  position: relative;
  margin-top: 10px;
  background-color: #542a81; /* Deep purple background color */
  border: 1px solid #ccc; /* Light gray border color */
  border-radius: 15px;
  padding: 15px;
  width: 705px;
  max-height: 300px;
  overflow-y: auto;
  color: rgb(246, 216, 255); /* Light blue text color */
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 3px;
}

/* Adjust the scrollbar styles if needed */
.info-panel::-webkit-scrollbar {
  width: 8px;
}

.info-panel::-webkit-scrollbar-thumb {
  background-color: #888888; /* Gray scrollbar thumb color */
  border-radius: 4px;
}

.info-panel::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker gray scrollbar thumb color on hover */
}

.matched-words {
  color: #fbfaee; /* Nearly white text color for "Number of matched words:" */
}

.highlight {
  color: rgb(9, 188, 253); /* Vibrant green color for highlighted words */
}


/* Dropdown menu style */
#fileSelect {
  padding: 8px;
  border: 1px solid #0f26f6;
  color: #ffffff; 
  background-color: #542a81; 
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

#fileSelect:focus {
  outline: none;
  border-color: #007bff; /* Change color when focused */

}


/* Checkbox style */
label {
  margin-right: 10px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-color: #542a81; /* Change color when checked */
  border-color: #007bff;
}

input[type="checkbox"]:focus {
  outline: none;
}


nav {
  background-color: #542a81;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  height: 40px; /* Adjust the height as needed */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}

nav li {
  margin-right: 2rem; /* Add margin to separate buttons */
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav a:hover {
  color: #77ff00;
}
